<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Carga de productos del egreso</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link rel="stylesheet" href="/css/GESOC_CargarProductos.css">-->
    <link rel="stylesheet" href="/css/GESOC_CargarProductos.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/menu_logueado">GESOC</a>
        </div>
    </nav>



    <!-- partial:index.partial.html -->
    <div class="form">

        <button type="submit" class="button button-back" onclick="window.location.href='./'">Volver al menú
            principal</button>

        <div class="tab-content">
            <div id="compra">

                <h3>Visualice los productos</h3>

                <div class= "lupa"> <img src="https://i.ibb.co/6Zc8sfp/lupa.png" alt="alternatetext"></div>
                <div class ="buscar">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre" title="Type in a name">
                </div>

                <form class="" action="/agregar_productos" method="post" style="">
                <div id="div1">

                    <table class="scroll" id="tabla" style="overflow-y:auto;">

                        <thead>
                        <th><i class="fas fa-user"></i> Id Producto</th>
                        <th><i class="fas fa-phone"></i> Nombre Producto</th>
                        <th><i class="fas fa-id-card-alt"></i> Descripción del Producto</th>
                        <th><i class="fas fa-user-cog"></i> Precio</th>
                        <th><i class="fas fa-envelope"></i> Id Proveedor</th>
                        <th><i class="fas fa-envelope"></i> Nombre Proveedor</th>
                        </thead>

                        <tbody>
                        {{#each productos}}
                            <tr>
                                <td><i class="fas fa-user"></i> {{id}}</td>
                                <td>{{nombre}}</td>
                                <td>{{descripcion}}</td>
                                <td>{{precio}}</td>
                                <td>{{proveedor.id}}</td>
                                <td>{{proveedor.nombre}}</td>

                            </tr>
                        {{/each}}
                        </tbody>


                    </table>
                </div>

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

</style>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tabla");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



                    <h3>Indique los datos correspondientes al Producto</h3>

                    <div class="field-wrap">
                        <label>
                            Id Producto<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" id="cantidad" name="id"
                            class="input-datos" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Cantidad Comprada<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" id="cantidad" name="cantidad"
                               class="input-datos" />
                    </div>

                    <h3>¿Desea cargar otro producto?</h3>

                    <button type="submit" class="button button-back"
                        onclick="window.location.href='/agregar_productos'">Sí</button>
                    <button type="submit" class="button button-back"
                        onclick="window.location.href='/usuarios_revisores'">Seguir con los datos del
                        egreso</button>


                </form>


            </div>



            <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/js/GESOC_CargarProductos.js"></script>-->
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src="/js/GESOC_CargarProductos.js"></script>


        </div>

    </div>
    <style>
        tr:hover {background-color: #ebb7b7;}
tr:nth-child(even) {background-color: #8d5151;}
    </style>
</body>

</html>